/*** footer starts ***/

#footer {
  background-color: #fbfcd4;
  /* #0c2340
  #fbfcd4 */
  padding: 1em 4em 0.1em;
  display: flex;
  justify-content: center;
}

#footer #logo {
  background-color: #ffdd03;
  border-radius: 50%;
  color: #0a0a0a;
  padding: 0.3em;
  font-family: "Maven pro", sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  display: inline;
}

#footer #copyright {
  margin-top: 1em;
  font-family: "Maven pro", sans-serif;
  font-weight: 500;
  color: #0c2340;
}
