/*** MyTech ***/
#myTech {
  background-color: #0c2340;
  padding: 4em 4em 4em;
}

#myTech h2 {
  color: #00843d;
  margin-bottom: 0.7em;
}

#myTech .tag-line {
  color: #c99700;
  font-size: 2em;
  margin-bottom: 2em;
}

#myTech i {
  color: #00843d;
  font-size: 4em;
}

#myTech h3 {
  color: #c99700;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.myTech-topics p {
  color: #c99700;
  font-family: "Maven pro", sans-serif;
}

.myTech-topics ul li {
  list-style: none;
  color: #c99700;
  font-family: "Maven pro", sans-serif;
  font-weight: 500;
}

.myTech-row {
  display: flex;
  justify-content: space-evenly;
}
